<%= image_tag "lib3.jfif", width:1000 , height: 400; %>
<h2>Editing Student</h2>
<body style="background-color:yellow;">
<%= render 'form', student: @student %>

<%= link_to 'Show', @student %> |
<%= link_to 'Back', students_path %>
