<header>
	<div class='container'>
		<img src="assetes/logo.png" alt="logo" class="logo">
		<nav>
			<ul>
				<li><%= link_to "Books", students_path %>
				 </li>
				 <li>
				 	  <%= link_to "students", books_path%>
				 </li>
			</ul>
</header>

